<div class="wrapper fadeInDown" *ngIf="!isLoading">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://www.clker.com/cliparts/n/l/p/q/K/L/blue-user-icon-md.png" id="icon" alt="User Icon" />
    </div>

    <div>
      <p style="color: crimson;"> {{ error }} </p>
    </div>
    <!-- Login Form -->
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" >
      <input type="text" id="login" class="fadeIn second" ngModel name="login" placeholder="login" required  email >
      <input type="text" id="password" class="fadeIn third" ngModel name="password" placeholder="password" required minlength="6">
      <div class="row">
        <input type="submit" class="fadeIn fourth" value="{{isLoginMode? 'Login' : 'Sing Up'}}" [disabled]="!authForm.valid">
      </div>
      <div class="row">
        <a class="underlineHover" style="cursor: pointer;" (click)="onSwitchMode()">Switch to {{ isLoginMode? 'Sing Up' : 'Login'}}</a>
      </div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
